In [12]:

from code.src.data_loader import load_raw_data, get_basic_info
from code.src.data_clean import clean_data
from pprint import pprint

In [11]:
df = load_raw_data()
df

,revenue,gender,age,engaged_last_30,lifecycle,days_since_last_order,previous_order_amount,3rd_party_stores
0,72.98,1.0,59.0,0.0,B,4.26,2343.870,0
1,200.99,1.0,51.0,0.0,A,0.94,8539.872,0
2,69.98,1.0,79.0,0.0,C,4.29,1687.646,1
3,649.99,NaN,NaN,NaN,C,14.90,3498.846,0
4,83.59,NaN,NaN,NaN,C,21.13,3968.490,4
...,...,...,...,...,...,...,...,...
29447,43.19,NaN,NaN,NaN,C,0.94,545.180,1
29448,62.97,1.0,53.0,0.0,C,3.45,3738.912,1
29449,87.26,NaN,NaN,NaN,C,10.42,1279.530,0
29450,19.99,1.0,69.0,0.0,C,16.87,669.580,3
29451,741.93,NaN,NaN,NaN,C,7.13,2102.950,0

In [10]:
info = get_basic_info(df)
pprint(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29452 entries, 0 to 29451
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   revenue                29452 non-null  float64
 1   gender                 17723 non-null  float64
 2   age                    16716 non-null  float64
 3   engaged_last_30        17723 non-null  float64
 4   lifecycle              29452 non-null  object
 5   days_since_last_order  29452 non-null  float64
 6   previous_order_amount  29452 non-null  float64
 7   3rd_party_stores       29452 non-null  int64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.8+ MB
{'columns': ['revenue',
             'gender',
             'age',
             'engaged_last_30',
             'lifecycle',
             'days_since_last_order',
             'previous_order_amount',
             '3rd_party_stores'],
 'dtypes': {'3rd_party_stores': dtype('int64'),
            'age': dtype('float64'),
            'days_since_last_order': dtype('float64'),
            'engaged_last_30': dtype('float64'),
            'gender': dtype('float64'),
            'lifecycle': dtype('O'),
            'previous_order_amount': dtype('float64'),
            'revenue': dtype('float64')},
 'num_features': 8,
 'num_samples': 29452}

In [13]:
numeric_cols = ['age', 'revenue', 'days_since_last_order']
categorical_cols = ['gender', 'lifecycle']
clean_data(df,numeric_cols,categorical_cols)

,revenue,gender,age,engaged_last_30,lifecycle,days_since_last_order,previous_order_amount,3rd_party_stores,age_is_null,revenue_is_null,days_since_last_order_is_null,age_abnormal
0,72.98,1.0,59.0,0.0,B,4.26,2343.870,0,0,0,0,0
1,200.99,1.0,51.0,0.0,A,0.94,8539.872,0,0,0,0,0
2,69.98,1.0,79.0,0.0,C,4.29,1687.646,1,0,0,0,0
3,649.99,Unknown,-1.0,NaN,C,14.90,3498.846,0,1,0,0,1
4,83.59,Unknown,-1.0,NaN,C,21.13,3968.490,4,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
29447,43.19,Unknown,-1.0,NaN,C,0.94,545.180,1,1,0,0,1
29448,62.97,1.0,53.0,0.0,C,3.45,3738.912,1,0,0,0,0
29449,87.26,Unknown,-1.0,NaN,C,10.42,1279.530,0,1,0,0,1
29450,19.99,1.0,69.0,0.0,C,16.87,669.580,3,0,0,0,0
29451,741.93,Unknown,-1.0,NaN,C,7.13,2102.950,0,1,0,0,1