In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/data_week2.csv')

In [3]:
data

,revenue,gender,age,engaged_last_30,lifecycle,days_since_last_order,previous_order_amount,3rd_party_stores
0,72.98,1.0,59.0,0.0,B,4.26,2343.870,0
1,200.99,1.0,51.0,0.0,A,0.94,8539.872,0
2,69.98,1.0,79.0,0.0,C,4.29,1687.646,1
3,649.99,NaN,NaN,NaN,C,14.90,3498.846,0
4,83.59,NaN,NaN,NaN,C,21.13,3968.490,4
...,...,...,...,...,...,...,...,...
29447,43.19,NaN,NaN,NaN,C,0.94,545.180,1
29448,62.97,1.0,53.0,0.0,C,3.45,3738.912,1
29449,87.26,NaN,NaN,NaN,C,10.42,1279.530,0
29450,19.99,1.0,69.0,0.0,C,16.87,669.580,3
29451,741.93,NaN,NaN,NaN,C,7.13,2102.950,0

In [4]:
data.isnull().sum()

revenue                        0
gender                     11729
age                        12736
engaged_last_30            11729
lifecycle                      0
 days_since_last_order         0
previous_order_amount          0
3rd_party_stores               0
dtype: int64

In [5]:
# df = data.copy()

In [6]:
# 清洗列名：去除前后空格
data.columns = data.columns.str.strip()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29452 entries, 0 to 29451
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   revenue                29452 non-null  float64
 1   gender                 17723 non-null  float64
 2   age                    16716 non-null  float64
 3   engaged_last_30        17723 non-null  float64
 4   lifecycle              29452 non-null  object
 5   days_since_last_order  29452 non-null  float64
 6   previous_order_amount  29452 non-null  float64
 7   3rd_party_stores       29452 non-null  int64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.8+ MB

In [8]:
data.describe()

,revenue,gender,age,engaged_last_30,days_since_last_order,previous_order_amount,3rd_party_stores
count,29452.000000,17723.000000,16716.000000,17723.000000,29452.000000,29452.000000,29452.000000
mean,398.288037,0.950742,60.397404,0.073069,7.711348,2348.904830,2.286059
std,960.251728,0.216412,14.823026,0.260257,6.489289,2379.774213,3.538219
min,0.020000,0.000000,18.000000,0.000000,0.130000,0.000000,0.000000
25%,74.970000,1.000000,50.000000,0.000000,2.190000,773.506250,0.000000
50%,175.980000,1.000000,60.000000,0.000000,5.970000,1655.980000,0.000000
75%,499.990000,1.000000,70.000000,0.000000,11.740000,3096.766500,3.000000
max,103466.100000,1.000000,99.000000,1.000000,23.710000,11597.900000,10.000000

In [9]:
# 清洗列名：去除前后空格
# data.columns = data.columns.str.strip()

In [10]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
29447    False
29448    False
29449    False
29450    False
29451    False
Length: 29452, dtype: bool

In [11]:
data.duplicated().sum()

np.int64(1)

In [12]:
# 先找出重复的行索引
dup_indices = data[data.duplicated(keep=False)].index
print(dup_indices)

Index([9254, 13622], dtype='int64')

In [13]:
def dm01(a:int)->int:
    return a

In [14]:
dm = dm01(10)
print(dm)

l

In [15]:
import data_explore
data_explore.data_explore()

统计各字段缺失率
                       missing_count  missing_rate missing_pattern
age                            12736      0.432432             无缺失
gender                         11729      0.398241            中等缺失
engaged_last_30                11729      0.398241            中等缺失
revenue                            0      0.000000            中等缺失
lifecycle                          0      0.000000             无缺失
days_since_last_order              0      0.000000             无缺失
previous_order_amount              0      0.000000             无缺失
3rd_party_stores                   0      0.000000             无缺失
分析数值型特征的描述性统计
                         count         mean          std    min        25%  \
revenue                29452.0   398.288037   960.251728   0.02   74.97000
gender                 17723.0     0.950742     0.216412   0.00    1.00000
age                    16716.0    60.397404    14.823026  18.00   50.00000
engaged_last_30        17723.0     0.073069     0.260257   0.00    0.00000
days_since_last_order  29452.0     7.711348     6.489289   0.13    2.19000
previous_order_amount  29452.0  2348.904830  2379.774213   0.00  773.50625
3rd_party_stores       29452.0     2.286059     3.538219   0.00    0.00000

                           50%        75%        max
revenue                 175.98   499.9900  103466.10
gender                    1.00     1.0000       1.00
age                      60.00    70.0000      99.00
engaged_last_30           0.00     0.0000       1.00
days_since_last_order     5.97    11.7400      23.71
previous_order_amount  1655.98  3096.7665   11597.90
3rd_party_stores          0.00     3.0000      10.00
分析类别型特征的分布情况
{'lifecycle': lifecycle
C    20201
B     5709
A     3542
Name: count, dtype: int64}
分析某个特征在不同分组中的分布
age           18.0      19.0      20.0      21.0      22.0      23.0  \
lifecycle
A          0.00000  0.000476  0.000000  0.000953  0.000476  0.001429
B          0.00000  0.001415  0.000283  0.000566  0.000283  0.000849
C          0.00009  0.000722  0.000451  0.000541  0.000722  0.001083

age            24.0      25.0      26.0      27.0  ...      90.0      91.0  \
lifecycle                                          ...
A          0.000476  0.000953  0.002382  0.001906  ...  0.003811  0.003335
B          0.000283  0.001132  0.001698  0.001981  ...  0.004529  0.004246
C          0.000541  0.001534  0.001534  0.000992  ...  0.005052  0.003067

age            92.0      93.0      94.0      95.0      96.0      97.0  \
lifecycle
A          0.003811  0.002382  0.003335  0.000476  0.002382  0.000476
B          0.002547  0.003680  0.002264  0.002264  0.002264  0.002830
C          0.002797  0.002526  0.002707  0.002707  0.002075  0.001263

age            98.0      99.0
lifecycle
A          0.000476  0.001906
B          0.000283  0.001698
C          0.000812  0.002616

[3 rows x 82 columns]
分析数值特征之间的相关性
(                        revenue    gender       age  engaged_last_30  \
revenue                1.000000  0.023789 -0.073015         0.079834
gender                 0.023789  1.000000  0.056191         0.040865
age                   -0.073015  0.056191  1.000000        -0.051966
engaged_last_30        0.079834  0.040865 -0.051966         1.000000
days_since_last_order  0.036654  0.010142  0.013619        -0.005964
previous_order_amount  0.168540  0.077307 -0.048714         0.164930
3rd_party_stores      -0.026398 -0.015996  0.097882        -0.031189

                       days_since_last_order  previous_order_amount  \
revenue                             0.036654               0.168540
gender                              0.010142               0.077307
age                                 0.013619              -0.048714
engaged_last_30                    -0.005964               0.164930
days_since_last_order               1.000000              -0.085269
previous_order_amount              -0.085269               1.000000
3rd_party_stores                    0.351752              -0.213757

                       3rd_party_stores
revenue                       -0.026398
gender                        -0.015996
age                            0.097882
engaged_last_30               -0.031189
days_since_last_order          0.351752
previous_order_amount         -0.213757
3rd_party_stores               1.000000  , Empty DataFrame
Columns: [feature1, feature2, correlation, abs_correlation]
Index: [])