In [7]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv('../data/31 l2_week2.csv')

In [9]:
data

,revenue,gender,age,engaged_last_30,lifecycle,days_since_last_order,previous_order_amount,3rd_party_stores
0,72.98,1.0,59.0,0.0,B,4.26,2343.870,0
1,200.99,1.0,51.0,0.0,A,0.94,8539.872,0
2,69.98,1.0,79.0,0.0,C,4.29,1687.646,1
3,649.99,NaN,NaN,NaN,C,14.90,3498.846,0
4,83.59,NaN,NaN,NaN,C,21.13,3968.490,4
...,...,...,...,...,...,...,...,...
29447,43.19,NaN,NaN,NaN,C,0.94,545.180,1
29448,62.97,1.0,53.0,0.0,C,3.45,3738.912,1
29449,87.26,NaN,NaN,NaN,C,10.42,1279.530,0
29450,19.99,1.0,69.0,0.0,C,16.87,669.580,3
29451,741.93,NaN,NaN,NaN,C,7.13,2102.950,0

In [10]:
data.isnull().sum()

revenue                        0
gender                     11729
age                        12736
engaged_last_30            11729
lifecycle                      0
 days_since_last_order         0
previous_order_amount          0
3rd_party_stores               0
dtype: int64

In [ ]:
# df = data.copy()

In [23]:
# 清洗列名：去除前后空格
data.columns = data.columns.str.strip()

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29452 entries, 0 to 29451
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   revenue                29452 non-null  float64
 1   gender                 17723 non-null  float64
 2   age                    16716 non-null  float64
 3   engaged_last_30        17723 non-null  float64
 4   lifecycle              29452 non-null  object
 5   days_since_last_order  29452 non-null  float64
 6   previous_order_amount  29452 non-null  float64
 7   3rd_party_stores       29452 non-null  int64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.8+ MB

In [12]:
data.describe()

,revenue,gender,age,engaged_last_30,days_since_last_order,previous_order_amount,3rd_party_stores
count,29452.000000,17723.000000,16716.000000,17723.000000,29452.000000,29452.000000,29452.000000
mean,398.288037,0.950742,60.397404,0.073069,7.711348,2348.904830,2.286059
std,960.251728,0.216412,14.823026,0.260257,6.489289,2379.774213,3.538219
min,0.020000,0.000000,18.000000,0.000000,0.130000,0.000000,0.000000
25%,74.970000,1.000000,50.000000,0.000000,2.190000,773.506250,0.000000
50%,175.980000,1.000000,60.000000,0.000000,5.970000,1655.980000,0.000000
75%,499.990000,1.000000,70.000000,0.000000,11.740000,3096.766500,3.000000
max,103466.100000,1.000000,99.000000,1.000000,23.710000,11597.900000,10.000000

In [16]:
# 清洗列名：去除前后空格
# data.columns = data.columns.str.strip()

In [18]:
data['days_since_last_order']

KeyError: 'days_since_last_order'